.global {
    --element-color: #e74c3c; /* rouge principal */
    --transition: all 0.5s cubic-bezier(1, 0.46, 0, 1.29);
    --dark-color: #292929;
    --light-color: rgb(245, 245, 245);
}

.dark {
    --color: #F5F5F5;
    --background: #292929;
    --background-element: #7a1f14; /* rouge foncé pour éléments */
    --background-transparent: #5c1a14cc; /* rouge transparent */
    --shadow: rgba(80, 20, 20, 0.7); /* ombre rouge foncée */
    --svg-color: brightness(0) saturate(100%) invert(73%) sepia(53%) saturate(635%) hue-rotate(345deg) brightness(92%) contrast(92%);
}

.light {
    --color: #151515;
    --background: rgb(245, 245, 245);
    --background-element: #f5b5aa; /* rouge clair pour éléments */
    --background-transparent: rgba(245, 181, 170, 0.8); /* rouge transparent */
    --shadow: rgba(220, 160, 150, 0.7);
    --svg-color: brightness(0) saturate(100%) invert(22%) sepia(54%) saturate(632%) hue-rotate(350deg) brightness(96%) contrast(88%);
}
